---
import { ClientRouter } from 'astro:transitions';
import SideBar from '@/contexts/_shared/client/presentation/components/toolbars/side-bar.component.astro';
import Layout from '@/contexts/_shared/client/presentation/layouts/Layout.astro';
---

<Layout>
  <!-- ClientRouter component initialize view transitions and element's persistance -->
  <ClientRouter fallback="none" />

  <!-- This bar is fixed -->
  <SideBar />

  <!-- This is the main container of all pages -->
  <main class="mt-10 md:mt-0 md:ml-59 transition-all duration-300 ease-in-out h-full">
    <slot />
  </main>
</Layout>

<style>
  @reference "tailwindcss";

  body.sidebar-collapsed main {
      @apply md:ml-29;
  }
</style>