---
import ContentContainer from "@/contexts/_shared/client/presentation/components/content/content-container.component.astro";
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
import { getProfileByUserId } from "@/contexts/profiles/server/application/usecases/get-profile.usecase";
import type { ProfileInfo } from "@/contexts/profiles/client/usecases/get-profile.usecase";
import { getAuthenticatedUserIdOrRedirect } from "@/contexts/_shared/server/application/usecases/get-authenticated-user-or-redirect";
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import ContentTop from "@/contexts/_shared/client/presentation/components/content/content-top.component.astro";
import SimpleForm from "@/contexts/_shared/client/presentation/components/forms/simple-form.component.astro";

/*******************************
 ***** User authentication *****
 ********************************/
// Probably never redirect from here because it would do so from the middleware
const authenticatedUserId = await getAuthenticatedUserIdOrRedirect(Astro);

/****************************
 ***** Page paramenters *****
 *****************************/
// NO PARAMETERS HERE

/************************************
 ***** Get info to show on page *****
 *************************************/
let profile: ProfileInfo | null = null;
const getProfileResult = await getProfileByUserId(authenticatedUserId);

if (getProfileResult.success) {
    profile = getProfileResult.data;
}

/***********************
 ***** Form inputs *****
 ************************/
const profileInputs = [
    {
        id: "name",
        name: "name",
        type: "text",
        autocomplete: "name",
        label: "Nombres",
        value: profile?.name,
        validations: [
            {
                validate: ((value: any) => !!value).toString(),
                message: "El nombre es obligatorio",
            },
        ],
        showMandatory: true,
    },
    {
        id: "lastname",
        name: "lastname",
        type: "text",
        autocomplete: "lastname",
        label: "Apellidos",
        value: profile?.lastname,
        validations: [
            {
                validate: ((value: any) => !!value).toString(),
                message: "El apellido es obligatorio",
            },
        ],
        showMandatory: true,
    },
    {
        id: "birthday",
        name: "birthday",
        type: "date",
        autocomplete: "birthday",
        label: "Fecha de nacimiento",
        value: profile?.birthday
            ? new Date(profile.birthday).toISOString().split("T")[0]
            : "",
        validations: [
            {
                validate: ((value: any) => !!value).toString(),
                message: "La fecha de nacimiento es obligatoria",
            },
        ],
        showMandatory: true,
    },
    {
        id: "email",
        name: "email",
        type: "email",
        autocomplete: "email",
        label: "Correo electrónico",
        value: profile?.email,
        validations: [
            {
                validate: ((value: any) => !!value).toString(),
                message: "El correo electrónico es obligatorio",
            },
            {
                validate: ((value: any) => value.includes("@")).toString(),
                message: "El correo electrónico debe contener un @",
            },
        ],
        showMandatory: true,
    },
    {
        id: "phone",
        name: "phone",
        type: "text",
        autocomplete: "phone",
        label: "Teléfono",
        value: profile?.phone,
        validations: [
            {
                validate: ((value: any) => !!value).toString(),
                message: "El teléfono es obligatorio",
            },
        ],
        showMandatory: true,
    },
    {
        id: "role",
        name: "role",
        type: "text",
        autocomplete: "role",
        label: "Rol",
        value: profile?.roleName,
        readonly: true,
    },
];
---

<ContentContainer>
    <!-- ----------------
    ------ Top bar ------
    ----------------- -->
    <ContentTop>Perfil</ContentTop>

    <!-- ------------------
    ------ Main form ------
    ------------------- -->
    <!-- (Important to set editMode) -->
    <SimpleForm
        id="profile-form"
        editMode={!!profile}
        dataset={{ profileId: profile?.id, roleId: profile?.roleId }}
    >
        <div
            class="flex flex-col items-end bg-white rounded-xl shadow-lg p-8 w-full max-w-lg"
        >
            {profileInputs.map((input) => <DynamicInput {...input} />)}

            <!-- ----------------------
            ------ Action button ------
            ----------------------- -->
            <ActionButton id="submit-button" type="submit">
                {profile ? "Guardar cambios" : "Crear perfil"}
            </ActionButton>
        </div>

        <div class="form-error text-red-500"></div>
    </SimpleForm>
</ContentContainer>

<script>
    import { SaveProfileResource } from "@/contexts/profiles/server/interfaces/api/resources/save-profile.resource";
    import { updateMyProfile } from "@/contexts/profiles/client/services/update-profile.service";
    import { tryCreateEditRequestOrThrowError } from "@/contexts/_shared/client/presentation/components/forms/form-utils";

    function initializeForm() {
        const form = document.getElementById("profile-form") as HTMLFormElement;
        if (!form) return;

        /************************
         ***** Submit event *****
         *************************/
        // Before this event, in base-form.astro validations were executed
        form.addEventListener("form:submit", async (event: any) => {
            const { data, submitButton, isEditMode, formDataObj, formError } =
                event.detail;

            /**************************************
             ***** Register/update my profile *****
             **************************************/
            const registerOrUpdateMyProfile = async ({
                forceUpdate,
                cancelRedirect,
            }: { forceUpdate?: boolean; cancelRedirect?: boolean } = {}) => {
                const resource = new SaveProfileResource(
                    data.name,
                    data.lastname,
                    data.email,
                    data.phone,
                    new Date(data.birthday),
                    formDataObj.roleId!,
                );
                const editMode = !!forceUpdate || isEditMode;

                await tryCreateEditRequestOrThrowError({
                    isEditMode,
                    formError,
                    entityDisplayName: "perfil",
                    submitButton,
                    makeRequestFunc: async () =>
                        !editMode
                            ? { success: false }
                            : await updateMyProfile(resource),
                    onSuccessFunc: (response: any) => {
                        formDataObj.profileId = response.data.id;

                        if (!cancelRedirect) window.location.href = "/app/home";
                    },
                });
            };

            await registerOrUpdateMyProfile();
        });
    }

    function initializeDeleteDialog() {
        /*******************************
         ***** Delete dialog logic *****
         ********************************/
        const openDialogButton = document.getElementById(
            "open-delete-dialog-button",
        );
        const dialog = document.getElementById("delete-dialog");
        const toggleDialog = (show: boolean) =>
            dialog?.classList.toggle("hidden", !show);

        openDialogButton?.addEventListener("click", () => toggleDialog(true));
    }

    /************************************
     ***** Run scripts on page load *****
     *************************************/
    document.addEventListener("astro:page-load", () => {
        initializeForm();
        initializeDeleteDialog();
    });
</script>
