---
import ContentTopLeft from './content-top-left.component.astro';

export interface Props {
  backHref?: string;
}

const {
  backHref,
} = Astro.props as Props;

---

<div class="mb-8 sm:flex sm:justify-between sm:items-center">
    {
      <div class="flex items-start gap-4">
        <ContentTopLeft {backHref}>
          <slot />
        </ContentTopLeft>
      </div>
    }    
    <slot name="right" />
</div>