---
import { getAllEvents } from "@/contexts/calendar/server/application/usecases/getall-events.usecase";
import CalendarComponent from "@/contexts/calendar/client/presentation/components/calendar/calendar.component.astro";
import SearchBar from "@/contexts/_shared/client/presentation/components/inputs/search-bar.component.astro";
import ContentTop from "@/contexts/_shared/client/presentation/components/content/content-top.component.astro";
import ActionLink from "@/contexts/_shared/client/presentation/components/actions/action-link.component.astro";
import ContentContainer from "@/contexts/_shared/client/presentation/components/content/content-container.component.astro";
import { getAuthenticatedUserIdOrRedirect } from "@/contexts/_shared/server/application/usecases/get-authenticated-user-or-redirect";

/*******************************
 ***** User authentication *****
 ********************************/
// Probably never redirect from here because it would do so from the middleware
await getAuthenticatedUserIdOrRedirect(Astro);

/****************************
 ***** Page paramenters *****
 *****************************/
// NO PARAMETERS HERE

/************************************
 ***** Get info to show on page *****
 *************************************/
let events: any[] = [];
const today = new Date();

const getEventsResult = await getAllEvents();
if (getEventsResult.success) {
    events = getEventsResult.data ?? [];
}

const data = {
    selectedDate: today,
    events: events,
};
---

<ContentContainer>
    <!-- ----------------
    ------ Top bar ------
    ----------------- -->
    <ContentTop>
        Calendario <!-- MainTitle -->
        <div slot="right" class="flex gap-4">
            <SearchBar id="calendar-search" name="calendar-search" />
            <ActionLink href={`/app/calendar/events/new`} style="submit">
                Añadir evento
            </ActionLink>
        </div>
    </ContentTop>

    <!-- -----------------
    ------ Calendar ------
    ------------------ -->
    <CalendarComponent {data} />
</ContentContainer>
