---
import AppLayout from "../../../layouts/AppLayout.astro"
import EventPage from "../../../contexts/calendar/presentation/pages/event.page.astro"
---

<AppLayout>
    <EventPage />
    <a href="/app/calendar/events/2">Siguiente</a>
</AppLayout>