---
const { petName } = Astro.props;
---


<div id="delete-dialog" role="dialog" aria-modal="true" aria-labelledby="dialog-title" class="relative z-10 hidden">
    <div aria-hidden="true" class="fixed inset-0 bg-gray-500/75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10">
                            <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6 text-red-600">
                                <path d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126ZM12 15.75h.007v.008H12v-.008Z" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                            <h3 id="dialog-title" class="text-base font-semibold text-gray-900">Eliminar mascota</h3>
                            <div class="mt-2">
                                <p class="text-base text-gray-700">¿Estás seguro de que quieres eliminar la mascota {petName}? Una vez que elimines a la mascota, toda su información y citas se perderán para siempre. </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
                    <button id="confirm-delete-button" type="button" class="inline-flex w-full justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 sm:ml-3 sm:w-auto cursor-pointer disabled:opacity-50 disabled:cursor-not-allowed" disabled>
                        Eliminar
                    </button>
                    <button id="cancel-delete-button" id="" type="button" class="mt-3 inline-flex w-full justify-center rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-xs ring-1 ring-gray-300 ring-inset hover:bg-gray-50 sm:mt-0 sm:w-auto cursor-pointer">
                        Cancelar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
    

<script>
    import { deletePet } from "@/contexts/pets/client/usecases/delete-pet.usecase";

    function initializePageScripts() {
        const form = document.getElementById('pet-form') as HTMLFormElement | null;

        if (form) {
            const dialog = document.getElementById('delete-dialog');
            const cancelButton = document.getElementById('cancel-delete-button') as HTMLButtonElement;
            const confirmButton = document.getElementById('confirm-delete-button') as HTMLButtonElement;

            // Habilita el botón de envío una vez que el script se ha cargado.
            if (confirmButton) {
                confirmButton.disabled = false;
            }

            const toggleDialog = (show: boolean) => {
                dialog?.classList.toggle('hidden', !show);
            }

            cancelButton?.addEventListener('click', () => toggleDialog(false));

            confirmButton?.addEventListener('click', async () => {
                const petId = form?.dataset.petId;
                if (!petId) return;

                confirmButton.textContent = "Eliminando...";
                confirmButton.disabled = true;

                try {
                    const result = await deletePet(petId);
                    if (result.success) {
                        window.location.href = '/app/home';
                    } else {
                        alert(result.errorMessage || 'No se pudo eliminar la mascota.');
                        confirmButton.textContent = "Confirmar";
                        confirmButton.disabled = false;
                        toggleDialog(false);
                    }
                } catch (error) {
                    alert('No se pudo eliminar la mascota.');
                    confirmButton.textContent = "Confirmar";
                    confirmButton.disabled = false;
                } finally {
                    confirmButton.textContent = "Confirmar";
                    confirmButton.disabled = false;
                    toggleDialog(false);
                }
            });
        }
    }

    // Ejecuta los scripts en la carga inicial de la página
    initializePageScripts();

    // Vuelve a ejecutar los scripts en cada navegación del lado del cliente
    document.addEventListener('astro:page-load', initializePageScripts);
</script>