---
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import WarningIcon from "@/contexts/_shared/client/presentation/components/icons/WarningIcon.astro";
import { getTexts } from "@/i18n";
const { pets: petsTexts, shared: sharedTexts } = getTexts();

const { petName } = Astro.props;
---


<div id="delete-dialog" role="dialog" aria-modal="true" aria-labelledby="dialog-title" class="relative z-10 hidden">
    <div aria-hidden="true" class="fixed inset-0 bg-gray-500/75 transition-opacity"></div>
    <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
        <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
            <div class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
                <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                    <div class="sm:flex sm:items-start">
                        <div class="mx-auto flex size-12 shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:size-10">
                            <WarningIcon />
                        </div>
                        <div
                            class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left"
                        >
                            <h3
                                id="dialog-title"
                                class="text-base font-semibold text-gray-900"
                            >
                                {petsTexts.dialogs.deleteTitle}
                            </h3>
                            <div class="mt-2">
                                <p class="text-base text-gray-700">
                                    {petsTexts.dialogs.deleteConfirm(petName)}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray-50 px-4 py-3 flex justify-center sm:justify-start sm:flex-row-reverse sm:px-6 gap-3">
                    <!-- -----------------------
                    ------ Action buttons ------
                    ------------------------ -->
                    <ActionButton id="confirm-delete-button" style="danger">
                        {sharedTexts.actions.delete}
                    </ActionButton>
                    <ActionButton id="cancel-delete-button">
                        {sharedTexts.actions.cancel}
                    </ActionButton>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    import { deletePet } from "@/contexts/pets/client/usecases/delete-pet.usecase";
    import { getFormDataObj, tryDeleteRequestOrThrowError } from "@/contexts/_shared/client/presentation/components/forms/form-utils";
    import { getTexts } from "@/i18n";
    const { pets: petsTexts, } = getTexts();

    function initializePageScripts() {
        const form = document.getElementById('pet-form') as HTMLFormElement | null;
        if (!form) return;

        const dialog = document.getElementById('delete-dialog');
        const cancelButton = document.getElementById('cancel-delete-button') as HTMLButtonElement;
        const confirmButton = document.getElementById('confirm-delete-button') as HTMLButtonElement;

        // Habilita el botón de envío una vez que el script se ha cargado.
        if (confirmButton) {
            confirmButton.disabled = false;
        }

        /**********************************************
         ***** Hide dialog on cancel button click *****
         **********************************************/
        const toggleDialog = (show: boolean) => dialog?.classList.toggle('hidden', !show);
        cancelButton?.addEventListener('click', () => toggleDialog(false));

        /**********************
         ***** Delete pet *****
         **********************/
        confirmButton?.addEventListener('click', async () => {
            const formDataObj = getFormDataObj(form);
            const petId = formDataObj.petId;
            if (!petId) return;

            await tryDeleteRequestOrThrowError({
                textError: null,
                entityDisplayName: petsTexts.terms.entity,
                deleteButton: confirmButton,
                makeRequestFunc: async () => await deletePet(petId),
                onSuccessFunc: () => window.location.href = '/app/home',
                onErrorFunc: () => {
                    alert(petsTexts.feedback.deleteError);
                    toggleDialog(false);
                },
                addToOnFinallyFunc: () => {
                    toggleDialog(false);
                },
            });
        });
    }

    /************************************
     ***** Run scripts on page load *****
     *************************************/
    document.addEventListener('astro:page-load', () => {
        initializePageScripts();
    });
</script>