---
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import BaseModal from "@/contexts/_shared/client/presentation/components/modals/base-modal.component.astro";
import SimpleForm from "@/contexts/_shared/client/presentation/components/forms/simple-form.component.astro";
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
import FormModal from "@/contexts/_shared/client/presentation/components/modals/form-modal.component.astro";

const ownerRoleId = import.meta.env.OWNER_ROLE_ID;

/***********************
 ***** Form inputs *****
************************/
const profileInputs = [
    {
        id: "owner-name",
        name: "owner-name",
        type: "text",
        autocomplete: "name",
        label: "Nombres",
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'El nombre es obligatorio' },
            { validate: ((value: any) => value.length >= 3).toString(), message: 'El nombre debe tener al menos 3 caracteres' }
        ],
        showMandatory: true,
    },
    {
        id: "owner-lastname",
        name: "owner-lastname",
        type: "text",
        autocomplete: "lastname",
        label: "Apellidos",
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'El apellido es obligatorio' },
            { validate: ((value: any) => value.length >= 3).toString(), message: 'El apellido debe tener al menos 3 caracteres' }
        ],
        showMandatory: true,
    },
    {
        id: "owner-birthday",
        name: "birthday",
        type: "date",
        autocomplete: "birthday",
        label: "Fecha de nacimiento",
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'La fecha de nacimiento es obligatoria' }
        ],
        showMandatory: true,
    },
    {
        id: "owner-email",
        name: "owner-email",
        type: "email",
        autocomplete: "email",
        label: "Correo electrónico",
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'El correo es obligatorio' },
            { validate: ((value: any) => /^[^\s@]+@[^\s@]+\.[^\s@]+$/.test(value)).toString(), message: 'Por favor, introduce un correo válido' }
        ],
        showMandatory: true,
    },
    {
        id: "owner-phone",
        name: "owner-phone",
        type: "text",
        autocomplete: "phone",
        label: "Teléfono",
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'El teléfono es obligatorio' }
        ],
        showMandatory: true,
    },
    {
        id: "owner-role",
        name: "role",
        type: "text",
        autocomplete: "role",
        label: "Rol",
        value: "Dueño",
        readonly: true,
    },
]
---
<FormModal id="owner-modal" title="Agregar nuevo dueño" dataset={{ ownerRoleId }}>

    <!-- ---------------
    ------ Inputs ------
    ---------------- -->
    <div slot="body" class="flex flex-col">
        {
            profileInputs.map(input => 
                <DynamicInput {...input} />
            )
        }
    </div>
    
    <!-- -----------------------
    ------ Action buttons ------
    ------------------------ -->
    <ActionButton id="owner-submit-button" type="submit" slot="footer">
        Crear dueño
    </ActionButton>
    <ActionButton dataModalClose slot="footer">
        Cancelar
    </ActionButton>
</FormModal>

<script>
    import { SaveProfileResource } from "@/contexts/profiles/server/interfaces/api/resources/save-profile.resource";
    import { createProfile } from "@/contexts/profiles/client/usecases/create-profile.usecase";
    import { tryCreateEditRequestOrThrowError } from "@/contexts/_shared/client/presentation/components/forms/form-utils";

    function initializeForm() {
        const form = document.getElementById('owner-modal-form') as HTMLFormElement | null;
        if (!form) return;
        
        /************************
         ***** Submit event *****
        *************************/
        // Before this event, in base-form.astro validations were executed
        form.addEventListener('form:submit', async (event: any) => {
            const { data, submitButton, isEditMode, formDataObj, formError } = event.detail;
        
            /*********************************
             ***** Prepare for api calls *****
            *********************************/
            submitButton.disabled = true;
            submitButton.textContent = !isEditMode ? 'Creando dueño...'  : 'Actualizando dueño...';
                
        
            /*********************************
             ***** Register/update Owner *****
            *********************************/
            const resource = new SaveProfileResource(data['owner-name'], data['owner-lastname'], data['owner-email'], data['owner-phone'], new Date(data.birthday), formDataObj.ownerRoleId!);
            await tryCreateEditRequestOrThrowError({
                isEditMode,
                formError,
                entityDisplayName: 'dueño',
                submitButton,
                makeRequestFunc: async () => !isEditMode ? await createProfile(resource)
                                                    : { success: false, errorMessage: 'something was wrong' },  //await updatePet(formDataObj.petId!, ownerResource);
                onSuccessFunc: (response: any) => {
                    formDataObj.profileId = response.data.id;

                    // 1. Dispara un evento con los datos del nuevo dueño para que la página principal lo escuche
                    document.dispatchEvent(new CustomEvent('owner-created', {
                        detail: { newOwner: response.data }
                    }));

                    // 2. Dispara un evento para cerrar este modal específico
                    document.dispatchEvent(new CustomEvent('close-modal-by-id', {
                        detail: { id: 'owner-modal' }
                    }));

                    // 3. Limpia el formulario para la próxima vez
                    form.reset();
                },
            });
        });
    }

    /************************************
     ***** Run scripts on page load *****
    *************************************/
    document.addEventListener('astro:page-load', () => {
        initializeForm();
    });

</script>