---
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
import FormModal from "@/contexts/_shared/client/presentation/components/modals/form-modal.component.astro";


/***********************
 ***** Form inputs *****
************************/
const profileInputs = [
    {
        id: "species-name",
        name: "species-name",
        type: "text",
        autocomplete: "species-name",
        label: "Nombre",
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'El nombre es obligatorio' },
            { validate: ((value: any) => value.length >= 3).toString(), message: 'El nombre debe tener al menos 3 caracteres' }
        ],
        showMandatory: true,
    },
]
---
<FormModal id="species-modal" title="Agregar nueva especie">

    <!-- ---------------
    ------ Inputs ------
    ---------------- -->
    <div slot="body" class="flex flex-col">
        {
            profileInputs.map(input => 
                <DynamicInput {...input} />
            )
        }
    </div>
    
    <!-- -----------------------
    ------ Action buttons ------
    ------------------------ -->
    <ActionButton id="species-submit-button" type="submit" slot="footer">
        Crear especie
    </ActionButton>
    <ActionButton dataModalClose slot="footer">
        Cancelar
    </ActionButton>
</FormModal>

<script>
    import { SaveSpeciesResource } from "@/contexts/pets/server/interfaces/api/resources/save-species.resource";
    import { createSpecies } from "@/contexts/pets/client/usecases/create-species-subspecies.usecase";
    import { tryCreateEditRequestOrThrowError } from "@/contexts/_shared/client/presentation/components/forms/form-utils";

    function initializeForm() {
        const form = document.getElementById('species-modal-form') as HTMLFormElement | null;
        if (!form) return;

        /************************
         ***** Submit event *****
        *************************/
        // Before this event, in base-form.astro validations were executed
        form.addEventListener('form:submit', async (event: any) => {
            const { data, submitButton, isEditMode, formDataObj, formError } = event.detail;
        
            /***********************************
             ***** Register/update Species *****
            ***********************************/
            const resource = new SaveSpeciesResource(data['species-name']);
            await tryCreateEditRequestOrThrowError({
                isEditMode,
                formError,
                entityDisplayName: 'especie',
                submitButton,
                makeRequestFunc: async () => !isEditMode ? await createSpecies(resource)
                                                    : { success: false, errorMessage: 'something was wrong' },  //await updatePet(formDataObj.petId!, ownerResource);
                onSuccessFunc: (response: any) => {
                    formDataObj.profileId = response.data.id;
                    // 1. Dispara un evento con los datos de la nueva especie para que la página principal lo escuche
                    document.dispatchEvent(new CustomEvent('species-created', {
                        detail: { newSpecies: response.data }
                    }));

                    // 2. Dispara un evento para cerrar este modal específico
                    document.dispatchEvent(new CustomEvent('close-modal-by-id', {
                        detail: { id: 'species-modal' }
                    }));

                    // 3. Limpia el formulario para la próxima vez
                    form.reset();
                },
            });
        });
    }

    /************************************
     ***** Run scripts on page load *****
    *************************************/
    document.addEventListener('astro:page-load', () => {
        initializeForm();
    });

</script>