---
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import FormModal from "@/contexts/_shared/client/presentation/components/modals/form-modal.component.astro";
import { getTexts } from "@/i18n";
const { pets: petsTexts, shared: sharedTexts } = getTexts();

/*****************************
 ***** Modal paramenters *****
 *****************************/
const { allSpecies } = Astro.props;

/***********************
 ***** Form inputs *****
 ************************/
const speciesInputs = [
    {
        id: "subspecies-name",
        name: "subspecies-name",
        type: "text",
        autocomplete: "subspecies-name",
        label: petsTexts.auxiliary.subspecies.nameLabel,
        validations: [
            {
                validate: ((value: any) => !!value).toString(),
                message: sharedTexts.validation.required,
            },
            {
                validate: ((value: any) => value.length >= 3).toString(),
                message: sharedTexts.validation.minLength(3),
            },
        ],
        showMandatory: true,
    },
    {
        id: "subspecies-species",
        name: "species",
        type: "combobox",
        label: petsTexts.auxiliary.species.label,
        options: allSpecies ?? [],
        validations: [
            {
                validate: ((value: any) => !!value).toString(),
                message: sharedTexts.validation.required,
            },
        ],
        showMandatory: true,
    },
];
---

<FormModal
    id="subspecies-modal"
    title={petsTexts.auxiliary.subspecies.addTitle}
>
    <!-- ---------------
    ------ Inputs ------
    ---------------- -->
    <div slot="body" class="flex flex-col">
        {
            speciesInputs.map(input => 
                <DynamicInput {...input} />
            )
        }
    </div>

    <!-- -----------------------
    ------ Action buttons ------
    ------------------------ -->
    <ActionButton id="species-submit-button" type="submit" slot="footer">
        {petsTexts.auxiliary.subspecies.createAction}
    </ActionButton>
    <ActionButton dataModalClose slot="footer">
        {sharedTexts.actions.cancel}
    </ActionButton>
</FormModal>

<script>
    import { SaveSubspeciesResource } from "@/contexts/pets/server/interfaces/api/resources/save-subspecies.resource";
    // import { updateSpecies } from "@/contexts/pets/client/usecases/update-species.usecase";
    import { createSubspecies } from "@/contexts/pets/client/services/create-species-subspecies.service";
    import { tryCreateEditRequestOrThrowError } from "@/contexts/_shared/client/presentation/components/forms/form-utils";
    import { getTexts } from "@/i18n";
    const { pets: petsTexts, } = getTexts();

    function initializePageScripts() {
        const form = document.getElementById('subspecies-modal-form') as HTMLFormElement | null;
        if (!form) return;

        /************************
         ***** Submit event *****
         *************************/
        // Before this event, in base-form.astro validations were executed
        form.addEventListener('form:submit', async (event: any) => {
            const { data, submitButton, isEditMode, formDataObj, formError } = event.detail;

            /***********************************
             ***** Register/update Subspecies *****
             ***********************************/
            const resource = new SaveSubspeciesResource(data['subspecies-name']);
            await tryCreateEditRequestOrThrowError({
                isEditMode,
                formError,
                entityDisplayName: petsTexts.auxiliary.subspecies.term,
                submitButton,
                makeRequestFunc: async () => !isEditMode ? await createSubspecies(resource, data.species)
                                                    : { success: false, errorMessage: 'something was wrong' },  //await updatePet(formDataObj.petId!, ownerResource);
                onSuccessFunc: (response: any) => {
                    // 1. Dispara un evento con los datos de la nueva raza para que la página principal lo escuche
                    document.dispatchEvent(new CustomEvent('subspecies-created', {
                        detail: { newSubspecies: response.data }
                    }));

                    // 2. Dispara un evento para cerrar este modal específico
                    document.dispatchEvent(new CustomEvent('close-modal-by-id', {
                        detail: { id: 'subspecies-modal' }
                    }));

                    // 3. Limpia el formulario para la próxima vez
                    form.reset();
                },
            });
        });
    }

    /************************************
     ***** Run scripts on page load *****
     *************************************/
    document.addEventListener('astro:page-load', () => {
        initializePageScripts();
    });
</script>
