---
import DynamicInput from "@/contexts/_shared/client/presentation/components/inputs/dynamic-input.component.astro";
import ActionButton from "@/contexts/_shared/client/presentation/components/actions/action-button.component.astro";
import FormModal from "@/contexts/_shared/client/presentation/components/modals/form-modal.component.astro";

/*****************************
 ***** Modal paramenters *****
*****************************/
const { allSpecies } = Astro.props;

/***********************
 ***** Form inputs *****
************************/
const speciesInputs = [
    {
        id: "subspecies-name",
        name: "subspecies-name",
        type: "text",
        autocomplete: "subspecies-name",
        label: "Nombres",
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'El nombre es obligatorio' },
            { validate: ((value: any) => value.length >= 3).toString(), message: 'El nombre debe tener al menos 3 caracteres' }
        ],
        showMandatory: true,
    },
    {
        id: "subspecies-species",
        name: "species",
        type: "combobox",
        label: "Especie",
        options: allSpecies ?? [],
        validations: [
            { validate: ((value: any) => !!value).toString(), message: 'La especie es obligatoria' }
        ],
        showMandatory: true,
    },
]
---
<FormModal id="subspecies-modal" title="Agregar nuevo raza">

    <!-- ---------------
    ------ Inputs ------
    ---------------- -->
    <div slot="body" class="flex flex-col">
        {
            speciesInputs.map(input => 
                <DynamicInput {...input} />
            )
        }
    </div>
    
    <!-- -----------------------
    ------ Action buttons ------
    ------------------------ -->
    <ActionButton id="species-submit-button" type="submit" slot="footer">
        Crear raza
    </ActionButton>
    <ActionButton dataModalClose slot="footer">
        Cancelar
    </ActionButton>
</FormModal>

<script>
    import { SaveSubspeciesResource } from "@/contexts/pets/server/interfaces/api/resources/save-subspecies.resource";
    // import { updateSpecies } from "@/contexts/pets/client/usecases/update-species.usecase";
    import { createSubspecies } from "@/contexts/pets/client/usecases/create-species-subspecies.usecase";
import { tryCreateEditRequestOrThrowError } from "@/contexts/_shared/client/presentation/components/forms/form-utils";

    function initializePageScripts() {
        const form = document.getElementById('subspecies-modal-form') as HTMLFormElement | null;
        if (!form) return;

        /************************
         ***** Submit event *****
        *************************/
        // Before this event, in base-form.astro validations were executed
        form.addEventListener('form:submit', async (event: any) => {
            const { data, submitButton, isEditMode, formDataObj, formError } = event.detail;
            
            /***********************************
             ***** Register/update Subspecies *****
            ***********************************/
            const resource = new SaveSubspeciesResource(data['subspecies-name']);
            await tryCreateEditRequestOrThrowError({
                isEditMode,
                formError,
                entityDisplayName: 'especie',
                submitButton,
                makeRequestFunc: async () => !isEditMode ? await createSubspecies(resource, data.species)
                                                    : { success: false, errorMessage: 'something was wrong' },  //await updatePet(formDataObj.petId!, ownerResource);
                onSuccessFunc: (response: any) => {
                    // 1. Dispara un evento con los datos de la nueva raza para que la página principal lo escuche
                    document.dispatchEvent(new CustomEvent('subspecies-created', {
                        detail: { newSubspecies: response.data }
                    }));

                    // 2. Dispara un evento para cerrar este modal específico
                    document.dispatchEvent(new CustomEvent('close-modal-by-id', {
                        detail: { id: 'subspecies-modal' }
                    }));

                    // 3. Limpia el formulario para la próxima vez
                    form.reset();
                },
            });
        });
    }

    /************************************
     ***** Run scripts on page load *****
    *************************************/
    document.addEventListener('astro:page-load', () => {
        initializePageScripts();
    });

</script>