---

---

<div
    id="tab-bar-container"
    class="w-full pt-2 pl-2 border-b border-gray-200"
>
    <div
        id="tab-bar"
        class="flex flex-row overflow-x-auto no-scrollbar items-end"
    >
        <!-- Tabs will be injected here by TabManager -->
    </div>
</div>

<script>
    import "@/contexts/_shared/client/presentation/components/tabs/tab-manager";
</script>

<style>
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    .no-scrollbar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
</style>
