---
import SearchIcon from "@/contexts/_shared/client/presentation/components/icons/SearchIcon.astro";

const { id, name, placeholder = "Buscar por cualquier campo...", class: className } = Astro.props;
---
<div class:list={["relative w-70", className]}>
    <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
        <SearchIcon class="h-5 w-5 text-gray-400" />
    </div>
    <input
        type="search"
        {id}
        {name}
        class="block w-full rounded-md border border-gray-300 py-1.5 pl-10 text-gray-900 placeholder:text-gray-400 focus:outline-none focus:ring-0 focus:border-2 focus:border-[#6faab5] sm:text-sm sm:leading-6"
        {placeholder}
    />
</div>